= simple_form_for(@ieb_mseg) do |f|
  = f.error_notification

  .form-inputs
    = f.input :mjahr
    = f.input :mblnr
    = f.input :zeile
    = f.input :vgart
    = f.input :blart
    = f.input :bwart
    = f.input :budat
    = f.input :cpudt
    = f.input :cputm
    = f.input :matnr
    = f.input :werks
    = f.input :lgort
    = f.input :charg
    = f.input :menge
    = f.input :meins
    = f.input :dmbtr
    = f.input :waers
    = f.input :parvw
    = f.input :lifnr
    = f.input :ebeln
    = f.input :ebelp
    = f.input :xblnr
    = f.input :belnr_ap
    = f.input :buzei_ap
    = f.input :gjahr_ap
    = f.input :guinr
    = f.input :lifnr_sto
    = f.input :ebeln_sto
    = f.input :ebelp_sto
    = f.input :belnr_sto
    = f.input :buzei_sto
    = f.input :gjahr_sto
    = f.input :kunnr
    = f.input :kunnr_dlv
    = f.input :vbeln_dn
    = f.input :posnr_dn
    = f.input :vbeln_so
    = f.input :posnr_so
    = f.input :vbeln_inv
    = f.input :posnr_inv
    = f.input :aufnr
    = f.input :rsnum
    = f.input :rspos
    = f.input :connr
    = f.input :cbseq
    = f.input :apmng
    = f.input :dlrat
    = f.input :cutxt
    = f.input :impnr
    = f.input :impim
    = f.input :expnr
    = f.input :expim
    = f.input :dlfnr
    = f.input :decdt
    = f.input :belnr_pay
    = f.input :buzei_pay
    = f.input :gjahr_pay
    = f.input :rstat

  .form-actions
    = f.button :submit
