%p#notice= notice

%p
  %b Mjahr:
  = @ieb_mseg.mjahr
%p
  %b Mblnr:
  = @ieb_mseg.mblnr
%p
  %b Zeile:
  = @ieb_mseg.zeile
%p
  %b Vgart:
  = @ieb_mseg.vgart
%p
  %b Blart:
  = @ieb_mseg.blart
%p
  %b Bwart:
  = @ieb_mseg.bwart
%p
  %b Budat:
  = @ieb_mseg.budat
%p
  %b Cpudt:
  = @ieb_mseg.cpudt
%p
  %b Cputm:
  = @ieb_mseg.cputm
%p
  %b Matnr:
  = @ieb_mseg.matnr
%p
  %b Werks:
  = @ieb_mseg.werks
%p
  %b Lgort:
  = @ieb_mseg.lgort
%p
  %b Charg:
  = @ieb_mseg.charg
%p
  %b Menge:
  = @ieb_mseg.menge
%p
  %b Meins:
  = @ieb_mseg.meins
%p
  %b Dmbtr:
  = @ieb_mseg.dmbtr
%p
  %b Waers:
  = @ieb_mseg.waers
%p
  %b Parvw:
  = @ieb_mseg.parvw
%p
  %b Lifnr:
  = @ieb_mseg.lifnr
%p
  %b Ebeln:
  = @ieb_mseg.ebeln
%p
  %b Ebelp:
  = @ieb_mseg.ebelp
%p
  %b Xblnr:
  = @ieb_mseg.xblnr
%p
  %b Belnr ap:
  = @ieb_mseg.belnr_ap
%p
  %b Buzei ap:
  = @ieb_mseg.buzei_ap
%p
  %b Gjahr ap:
  = @ieb_mseg.gjahr_ap
%p
  %b Guinr:
  = @ieb_mseg.guinr
%p
  %b Lifnr sto:
  = @ieb_mseg.lifnr_sto
%p
  %b Ebeln sto:
  = @ieb_mseg.ebeln_sto
%p
  %b Ebelp sto:
  = @ieb_mseg.ebelp_sto
%p
  %b Belnr sto:
  = @ieb_mseg.belnr_sto
%p
  %b Buzei sto:
  = @ieb_mseg.buzei_sto
%p
  %b Gjahr sto:
  = @ieb_mseg.gjahr_sto
%p
  %b Kunnr:
  = @ieb_mseg.kunnr
%p
  %b Kunnr dlv:
  = @ieb_mseg.kunnr_dlv
%p
  %b Vbeln dn:
  = @ieb_mseg.vbeln_dn
%p
  %b Posnr dn:
  = @ieb_mseg.posnr_dn
%p
  %b Vbeln so:
  = @ieb_mseg.vbeln_so
%p
  %b Posnr so:
  = @ieb_mseg.posnr_so
%p
  %b Vbeln inv:
  = @ieb_mseg.vbeln_inv
%p
  %b Posnr inv:
  = @ieb_mseg.posnr_inv
%p
  %b Aufnr:
  = @ieb_mseg.aufnr
%p
  %b Rsnum:
  = @ieb_mseg.rsnum
%p
  %b Rspos:
  = @ieb_mseg.rspos
%p
  %b Connr:
  = @ieb_mseg.connr
%p
  %b Cbseq:
  = @ieb_mseg.cbseq
%p
  %b Apmng:
  = @ieb_mseg.apmng
%p
  %b Dlrat:
  = @ieb_mseg.dlrat
%p
  %b Cutxt:
  = @ieb_mseg.cutxt
%p
  %b Impnr:
  = @ieb_mseg.impnr
%p
  %b Impim:
  = @ieb_mseg.impim
%p
  %b Expnr:
  = @ieb_mseg.expnr
%p
  %b Expim:
  = @ieb_mseg.expim
%p
  %b Dlfnr:
  = @ieb_mseg.dlfnr
%p
  %b Decdt:
  = @ieb_mseg.decdt
%p
  %b Belnr pay:
  = @ieb_mseg.belnr_pay
%p
  %b Buzei pay:
  = @ieb_mseg.buzei_pay
%p
  %b Gjahr pay:
  = @ieb_mseg.gjahr_pay
%p
  %b Rstat:
  = @ieb_mseg.rstat

= link_to 'Edit', edit_ieb_mseg_path(@ieb_mseg)
\|
= link_to 'Back', ieb_msegs_path
