= link_to zieb_import_orders_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
  = t('back')
= link_to @zieb_import_order, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-info-sign
  = t('actions.order_line')

%h1= t('edit')+' '+t('models.zieb_import_order')

= render 'form'
