%p#notice= notice

%p
  %b Stkdate:
  = @ieb_erp_stock.stkdate
%p
  %b Matnr:
  = @ieb_erp_stock.matnr
%p
  %b Lgort:
  = @ieb_erp_stock.lgort
%p
  %b Charg:
  = @ieb_erp_stock.charg
%p
  %b Balqty:
  = @ieb_erp_stock.balqty
%p
  %b Meins:
  = @ieb_erp_stock.meins
%p
  %b Ebeln:
  = @ieb_erp_stock.ebeln
%p
  %b Ebelp:
  = @ieb_erp_stock.ebelp
%p
  %b Aufnr:
  = @ieb_erp_stock.aufnr
%p
  %b Matkl:
  = @ieb_erp_stock.matkl
%p
  %b Mtart:
  = @ieb_erp_stock.mtart
%p
  %b Maktx:
  = @ieb_erp_stock.maktx
%p
  %b Dlrat:
  = @ieb_erp_stock.dlrat
%p
  %b Deuom:
  = @ieb_erp_stock.deuom
%p
  %b Hstxt:
  = @ieb_erp_stock.hstxt
%p
  %b Cbtyp:
  = @ieb_erp_stock.cbtyp

= link_to 'Edit', edit_ieb_erp_stock_path(@ieb_erp_stock)
\|
= link_to 'Back', ieb_erp_stocks_path
