%p#notice= notice

%p
  %b Connr:
  = @ieb_ziebc001.connr
%p
  %b Cbtyp:
  = @ieb_ziebc001.cbtyp
%p
  %b Cbseq:
  = @ieb_ziebc001.cbseq
%p
  %b Hstxt:
  = @ieb_ziebc001.hstxt
%p
  %b Smode:
  = @ieb_ziebc001.smode
%p
  %b Deuom:
  = @ieb_ziebc001.deuom
%p
  %b Fsuom:
  = @ieb_ziebc001.fsuom
%p
  %b Rstat:
  = @ieb_ziebc001.rstat

= link_to 'Edit', edit_ieb_ziebc001_path(@ieb_ziebc001)
\|
= link_to 'Back', ieb_ziebc001s_path
