%p#notice= notice

%p
  %b Impnr:
  = @ieb_ziebi001.impnr
%p
  %b Imtyp:
  = @ieb_ziebi001.imtyp
%p
  %b Imstu:
  = @ieb_ziebi001.imstu
%p
  %b Imdat:
  = @ieb_ziebi001.imdat
%p
  %b Dlfnr:
  = @ieb_ziebi001.dlfnr
%p
  %b Decdt:
  = @ieb_ziebi001.decdt
%p
  %b Created by:
  = @ieb_ziebi001.created_by
%p
  %b Updated by:
  = @ieb_ziebi001.updated_by

= link_to 'Edit', edit_ieb_ziebi001_path(@ieb_ziebi001)
\|
= link_to 'Back', ieb_ziebi001s_path
