%h3 查詢

= form_tag(prodrules_url, method: 'get', class: 'form-inline') do
  = text_field_tag :matnr, nil, placeholder: t('matnr'), class: 'form-control input-sm', value: params[:matnr]
  = text_field_tag :rule, nil, placeholder: t('attributes.rule'), class: 'form-control input-sm', value: params[:rule]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

%h4.text-info= "返回#{@total_count}條記錄"

%br
= link_to '新增规则', new_prodrule_path
%br

%table.table.table-bordered.table-condensed.table-striped
  %thead
    %tr
      %th= t('attributes.action')
      %th= t('attributes.matnr')
      %th= t('attributes.rule')
      %th= t('attributes.remote_ip')
      %th= t('attributes.created_at')
  %tbody
    - @prodrule.each do |prodrule|
      %tr
        %td
          = link_to '详细', prodrule
          |
          = link_to '修改', edit_prodrule_path(prodrule)
          |
          = link_to '刪除', prodrule, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= prodrule.matnr
        %td= prodrule.rule
        %td= prodrule.muser
        %td= prodrule.created_at

= paginate @prodrule unless @prodrule.empty?
