%h3= params[:matnr]

%table.table.table-bordered.table-condensed.table-striped.small
  %thead
    %tr
      %th= t('hstxt')
      %th= t('hscode')
      %th 項號
      %th= t('cutxt')
      - @versions.each do |vernr|
        %th= link_to vernr, ieb_bom_url({id: @bom_ids[vernr]})
  %tbody
    - @cbseqs.each do |cbseq|
      %tr
        %td= @cbseq_datas[cbseq][0]
        %td= @cbseq_datas[cbseq][1]
        %td= @cbseq_datas[cbseq][2]
        %td= @cbseq_datas[cbseq][3]
        - @versions.each do |vernr|
          %td.text-right= number_with_precision(@values["#{cbseq}_#{vernr}"], precision: 12, significant: true, strip_insignificant_zeros: true, delimiter: ',')
