%p#notice= notice

%p
  %b Connr:
  = @ieb_zieba003.connr
%p
  %b Matnr:
  = @ieb_zieba003.matnr
%p
  %b Cbtyp:
  = @ieb_zieba003.cbtyp
%p
  %b Cbseq:
  = @ieb_zieba003.cbseq
%p
  %b Dlrat:
  = @ieb_zieba003.dlrat
%p
  %b Fsrat:
  = @ieb_zieba003.fsrat
%p
  %b Rstat:
  = @ieb_zieba003.rstat

= link_to 'Edit', edit_ieb_zieba003_path(@ieb_zieba003)
\|
= link_to 'Back', ieb_zieba003s_path
