%p#notice= notice

%p
  %b Budat:
  = @ieb_mrp_exg_move.budat
%p
  %b Mjahr:
  = @ieb_mrp_exg_move.mjahr
%p
  %b Mblnr:
  = @ieb_mrp_exg_move.mblnr
%p
  %b Zeile:
  = @ieb_mrp_exg_move.zeile
%p
  %b Matnr:
  = @ieb_mrp_exg_move.matnr
%p
  %b Maktx:
  = @ieb_mrp_exg_move.maktx
%p
  %b Menge:
  = @ieb_mrp_exg_move.menge
%p
  %b Meins:
  = @ieb_mrp_exg_move.meins
%p
  %b Charg:
  = @ieb_mrp_exg_move.charg
%p
  %b Vbeln:
  = @ieb_mrp_exg_move.vbeln
%p
  %b Posnr:
  = @ieb_mrp_exg_move.posnr
%p
  %b Vgbel:
  = @ieb_mrp_exg_move.vgbel
%p
  %b Vgpos:
  = @ieb_mrp_exg_move.vgpos
%p
  %b Bednr:
  = @ieb_mrp_exg_move.bednr
%p
  %b Auart:
  = @ieb_mrp_exg_move.auart
%p
  %b Bill to:
  = @ieb_mrp_exg_move.bill_to
%p
  %b Ship to:
  = @ieb_mrp_exg_move.ship_to
%p
  %b Name1:
  = @ieb_mrp_exg_move.name1
%p
  %b Aufnr:
  = @ieb_mrp_exg_move.aufnr
%p
  %b Ntgew:
  = @ieb_mrp_exg_move.ntgew
%p
  %b Brgew:
  = @ieb_mrp_exg_move.brgew
%p
  %b Gewei:
  = @ieb_mrp_exg_move.gewei
%p
  %b Status:
  = @ieb_mrp_exg_move.status
%p
  %b Created by:
  = @ieb_mrp_exg_move.created_by
%p
  %b Updated by:
  = @ieb_mrp_exg_move.updated_by
%p
  %b Created ip:
  = @ieb_mrp_exg_move.created_ip
%p
  %b Updated ip:
  = @ieb_mrp_exg_move.updated_ip

= link_to 'Edit', edit_ieb_mrp_exg_move_path(@ieb_mrp_exg_move)
\|
= link_to 'Back', ieb_mrp_exg_moves_path
